<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
    
</head>
<body>
    <div id="app">
        <nav>
            <a href="/mart/users/<%= id %>/edit" class="button">Edit User</a>
            <a href='/mart/users/<%= id %>/items/1'" class="button">Buy Items</a>
            <a href='/mart/users/<%= id %>/pokemon'" class="button">Get Pokemon</a>
            <a href='/mart/newuser' class="button">Add New User</a>
            <a href='/mart/newitem' class="button">Add New Item</a>
            <a href='/mart/users/<%= id %>' class="button">Users</a>
        </nav>
    
        <h1>Name: <%= name %></h1>
        <h3>Money: <%= money %></h3>
        <h3>Location: <%= location%></h3>
        <h3>Backpack: <%= backpack %></h3>
        <h3>Party: <%= party %></h3>
        <h3><%- buy_link %></h3>
    
      
        <form id="updateMoneyForm" action="/mart/users/<%= id %>/money/" method="POST" onsubmit="updateAction()">
            <input type="hidden" name="_method" value="POST">
            <input type="text" id="moneyInput" name="money" value="100"> <!-- Example value to add to money -->
            <input type="hidden" name="location" value="mart">
            <input type="hidden" name="backpack" value="<%= backpack %>">
            
            <button type="submit">Update Money</button>
        </form>
  
    </div>

    <form action="/mart/users/<%= id %>" method="POST" onsubmit="return confirm('Are you sure you want to delete this user?');">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" class="button delete-button">Delete User</button>
    </form>

    <script>
        function updateAction() {
            const moneyValue = document.getElementById('moneyInput').value;
            const form = document.getElementById('updateMoneyForm');
            form.action = `/mart/users/<%= id %>/money/${moneyValue}`;
        }
    </script>

</body>
</html>